{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block body_class %}civic civic-paper{% endblock %}

{% block extra-head %}{% include "_civic_fonts.html" %}{% endblock %}

{% block content %}
<div class="civic-sheet civic-console civic-enter">

  {% trans "Elections you Administer" as section %}
  {% trans "back to home" as back_label %}
  {% include "_civic_console_head.html" with section=section back_url="/" back_label=back_label %}

  {% if elections %}
  <div class="civic-tablewrap">
    <table class="civic-table">
      <thead>
        <tr>
          <th>{% trans "Name" %}</th>
          <th class="civic-table__num">{% trans "Voters" %}</th>
          <th class="civic-table__num">{% trans "Cast votes" %}</th>
        </tr>
      </thead>
      <tbody>
      {% for election in elections %}
        <tr>
          <td><a href="{% url "election@view" election.uuid %}">{{election.name}}</a></td>
          <td class="civic-table__num">{{election.num_voters}}</td>
          <td class="civic-table__num">{{election.num_cast_votes}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="civic-empty">{% trans "You do not administer any elections yet." %}</div>
  {% endif %}

</div>
{% endblock %}
