{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block title %}{% trans "Log In to View Election" %}{% endblock %}

{% block body_class %}civic civic-paper{% endblock %}

{% block extra-head %}{% include "_civic_fonts.html" %}{% endblock %}

{% block content %}
<div class="civic-sheet civic-sheet--narrow civic-enter">

  <div class="civic-masthead">
    <p class="civic-eyebrow">
      <span class="civic-eyebrow__mark">&#9632;</span>
      <span>{{ election.name }}</span>
    </p>
    <h1>{% trans "Private Election - Please Log In" %}</h1>
  </div>

  <p class="civic-lede">
  {% blocktrans %}This election, with fingerprint <tt>{{ election.hash }}</tt>, is private, and can only be viewed by eligible voters.{% endblocktrans %}
  </p>

  {% with cast_ballot="0" %}
  {% include "_castconfirm_password.html" %}
  {% endwith %}

</div>
{% endblock %}
