{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block title %}{% trans "Statistics" %}{% endblock %}

{% block content %}
<h1>{% trans "Admin" %}</h1>

<ul>
<li> <a href="{% url "stats@elections" %}">{% trans "elections" %}</a></li>
<li> <a href="{% url "stats@deleted-elections" %}">{% trans "deleted elections" %}</a></li>
<li> <a href="{% url "stats@user-search" %}">{% trans "user search" %}</a></li>
<li> <a href="{% url "stats@recent-votes" %}">{% trans "recent votes" %}</a></li>
<li> <a href="{% url "stats@elections-problems" %}">{% trans "recent problem elections" %}</a></li>
</ul>

<div><b>{{num_votes_in_queue}}</b> {% trans "votes in queue." %} {% if num_votes_in_queue %}[<form class="inline-action" method="post" action="{% url "stats@force-queue" %}"><input type="hidden" name="csrf_token" value="{{csrf_token}}" /><button type="submit" class="link-button">{% trans "force it" %}</button></form>]{% endif %}</div>

{% endblock %}
