{% extends "helios/templates/cryptobase.html" %}
{% load i18n %}

{% block content %}
  <h2 class="title">{% blocktrans with election_name=election.name trustee_name=trustee.name %}{{ election_name }} &mdash; Trustee {{ trustee_name }} Home{% endblocktrans %}</span></h2>

<p>
{% if trustee.public_key_hash %}
{% trans "You have successfully uploaded your public key." %}<br />
{% blocktrans with public_key_hash=trustee.public_key_hash %}Your public key fingerprint is: <b>{{ public_key_hash }}</b>.{% endblocktrans %}<br />
{% url "election@trustee@check-sk" election.uuid trustee.uuid as check_sk_url %}
{% blocktrans %}You can <a href="{{ check_sk_url }}">verify that you have the right secret key</a>.{% endblocktrans %}
{% else %}
<a href="{% url "election@trustee@key-generator" election.uuid trustee.uuid %}">{% trans "setup your key" %}</a>
{% endif %}
</p>

<p>
{% if election.encrypted_tally %}
{% if trustee.decryption_factors %}
{% trans "You have successfully uploaded your decryption." %}
{% else %}
    {% trans "The encrypted tally for this election is ready." %}<br />
    <a href="{% url "election@trustee@decrypt-and-prove" election.uuid trustee.uuid %}">{% trans "decrypt with your key" %}</a>
{% endif %}
{% else %}
{% trans "Once the tally is computed, come back here to provide your secret key for decryption purposes." %}<br />
{% trans "You should keep the email with your trustee homepage link, which contains the credentials needed to get back here." %}
{% endif %}
</p>



{% endblock %}
